h1 {
  margin: 0;
  font-weight: 600;
  font-size: 46px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 120px);
  max-width: 1560px;
  margin: 0 60px;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FCF8F8;
}

.section-content {
  width: 100%;
  position: relative;
}

/* hero */
.hero-heading {
  margin-bottom: 60px;
}

.hero-img {
  width: 500px;
}

/* Product Gallery */

.product-gallery {
  display: flex;
  justify-content: space-between;
  height: 700px;
  max-height: 80vh;
  width: 700px;
  max-width: 80vw;
}

.product-gallery__main-img-wrapper {
  height: 100%;
  width: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-gallery__main-img {
  max-height: 80%;
  max-width: 80%;
  /*Animation*/
  transition: transform .2s;
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -ms-transition: transform .2s;
  -o-transition: transform .2s;
}

.product-gallery__main-img:hover {
  transform: scale(1.2);
  /*(150%zoom-Note: if the zoom is too large, it will go outside of the viewport) */;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.product-gallery__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-gallery__controls-img-wrapper {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  border: 1px solid #FBF2F2;
}

.product-gallery__controls-img {
  max-height: 80%;
  max-width: 80%;
}

.test {
      color: #FBF2F2;
}